<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" android:installLocation="auto" package="com.gamevil.zenonia3.global" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <application android:extractNativeLibs="false" android:icon="@drawable/icon_normal" android:label="Zenonia 3" android:name="com.bili545706450.zenonia3.GlobalApplication">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="Zenonia 3" android:name="com.gamevil.zenonia3.global.skt.Zenonia3Launcher" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.bili545706450.zenonia3.GlobalApplication$CrashActivity"/>
    </application>
</manifest>
